.weather-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

    h3 {
        font-size: 24px;
        margin-bottom: 15px;
    }
}

.weather-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.weather-item{
    
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    
    & p {
        font-size: 14px;
    }
}