.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;

}

h1 {
    font-size: 48px;
    color: #fff

}

input {
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    max-width: 60%;
    outline: none;
    margin-top: 20px;
}

button {
    background-color: #ff9800;
    border: none;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background-color: #f57c00;
    }
}